<h1><%=@user.name%> 프로필</h1>
<div class="row">
  <div class="col-sm-2 col-lg-2 col-md-2 col-xs-2">
    <%=image_tag @user.profile_img, style: 'border-radius:50%;width:100%' %>
  </div>
  <div class="col-sm-8 col-lg-8 col-md-8 col-xs-6 profile-text">
      <a><%=@user.name%>의 강아지 모카</a>
      <%= link_to '프로필 편집', edit_user_path(@user), class: "btn btn_default"%>
    <div class="col-sm-8 col-lg-8 col-md-8 col-xs-6 profile-text">
    <span class="profile-text">
      게시물 <%= @user.posts.size %>
    </span>
      <span class="profile-text">
      팔로우 0
    </span>
      <span class="profile-text">
      팔로워 0
    </span>
    </div>
  </div>
</div>

<div class="profile-body">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 photo-body" style="border:olivedrab sold 1px">
        <%= image_tag post.img_path.url, style: 'width:100%'%>
      </div>
    <% end %>
  </div>
</div>