<%= form_with(model: post, local: true) do |form| %>
    <% if post.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="post-text">
      <%= form.label :title, style: 'width:100%'  %>
    </div>

    <div class="post-text-body">
      <%= form.text_field :title, id: :post_title, style: 'width:100%'  %>
    </div>

    <div class="post-text">
      <%= form.label :content, style: 'width:100%'  %>
    </div>

    <div class="post-text-body">
      <%= form.text_area :content, id: :post_content, style: 'width:100%' %>
    </div>

    <div class="post-text">
      <%= form.label :img_path %>
    </div>

    <div>
      <%= form.file_field :img_path %>
    </div>

    <div class="actions">
      <%= form.submit "포스팅하기", class: 'btn btn-primary signup-submit'%>
    </div>
<% end %>
