<div class="row justify-content-center">
  <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6" style="margin-top: 20px">
    <div class="card">
      <div class="card-title">
        <span>
          <%= image_tag post.user.valid_profile_img, class: 'img rounded-circle', style: 'width:40px; height:40px; margin-top:12px; margin-left:12px'%>
        </span>
        <span>
          <%= post.user.name %>
        </span>
        <hr>
      </div>

      <div class="card-body">
        <%= image_tag post.img_path,
                      class: 'card-img-top',
                      style: 'width:100%; height:auto;' %>
        <hr>
        <div class="card-text">
          <%= link_to like_post_path(post.id), method: :put, remote: true do %>
              <% if post.has_like(current_user) %>
                  <i class="fa fa-heart fa-2x" style="color:red"></i>
              <% else %>
                  <i class="fa fa-heart-o fa-2x" style="color:red"></i>
              <% end %>
          <% end %>
        </div>
        <h4 class="card_body"><%= post.title %></h4>
        <p class="card-text"><%= post.content %></p>
        <p class="card-text">
          <small class="text-muted">
            <%= "#{time_ago_in_words(post.created_at)} 전" %></small>
        </p>
      </div>
      <table class="comment-table">
        <tbody>
        <% post.comments.each do |comment| %>
            <tr>
              <td class="commenter" style="padding-left: 16px; text-decoration-color: #666666"><%= comment.user.name %></td>
              <td class="comment" style="padding-left: 8px"><%= comment.contents %></td>
            </tr>
        <% end %>

        </tbody>
      </table>
      <hr>
      <%= form_tag comment_post_path(post), method: :post, class: 'comment-box', remote: true do %>
          <%= text_field_tag :comment, nil, class: 'form-control', placeholder: '댓글쓰기..' %>
      <% end %>
    </div>
  </div>
</div>