<div class="row justify-content-center">
  <div class="col-xs-10 col-sm-10 col-md-8 col-lg-6">
    <div class="card">
      <div class="card-body">
        <%= image_tag post.img_path,
                      class: 'card-img-top',
                      style: 'padding:8px; width:100%; height:auto;' %>
        <div class="card-text" style="padding-left: 8px">
          <%= link_to like_post_path(post.id), method: :put do %>
              <% if post.has_like(current_user) %>
                <i class="fa fa-heart fa-2x" style="color:red"></i>
              <% else %>
                <i class="fa fa-heart-o fa-2x" style="color:red"></i>
              <% end %>
          <% end %>
        </div>
        <h4 class="card_body" style="padding: 8px;"><%= post.title %></h4>
        <p class="card-text" style="padding: 8px;"><%= post.content %></p>
        <p class="card-text" style="padding: 8px;">
          <small class="text-muted">
            <%= "#{time_ago_in_words(post.created_at)} 전" %></small>
        </p>
      </div>
    </div>
  </div>
</div>